body{
    margin: 0;
    padding: 0;
}
#hero{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#sect1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: green;
    box-sizing: border-box;
}
.triagle-change{
    background-color: transparent;
    position: relative;
    left: 38px;
    top: 40px;
    width: 0;
    height: 0;
    border-bottom: 75px solid red;
    border-right: 75px solid transparent;
}
.display{
    background-color: white;
    position: relative;
    width: 75px;
    height: 75px;
    left: 38px;
    top: 40px;
}
#hero div :last-child{
    padding: 1px;
    text-align: center;
    margin-top: 6px;
}
